*:focus {
    outline: none !important;
}


body{
    background-color: black;
    font-family: 'VT323', monospace;
}
text{
    text-decoration-color: green;
    color: green
}

#canvas { 
    background: black; 
    display: block; 
    margin: 0 auto; 
}


h1{
    color:green;
    font-family: 'VT323', monospace;
}
h2{
    color:green;
    font-family: 'VT323', monospace;
}
a{
    padding:10px;
    color: green;
    font-family: 'VT323', monospace;
}
p{
    color:green;
    text-align: center
}
h3{
    color:green;
    font-family: 'VT323', monospace;
}
h4{
    color:black;
    font-family: 'VT323', monospace;
}
h5{
    color:green;
    font-family: 'VT323', monospace;
}
h6{
    color:green;
    font-family: 'VT323', monospace;
}
pre{
    color:green;
}
.container{
    align-content: center
}
/* game div area */
.games{
    padding:5%
}
/* game indivudal game buttons */
.gme{
    background: rgb(black);
    padding:.3%;
    font-family: 'VT323', monospace;
    text-align: center
}
.game{
    background: rgb(49, 49, 49);
    padding:.3%;
    font-family: 'VT323', monospace;
    text-align: center
}

.chosen{
    background: green; 
    color:black;
    font-family: 'VT323', monospace;
}

text{
    color:green;
    font-family: 'VT323', monospace;
}

.space{
    padding:15px;
    font-family: 'VT323', monospace;
}
/* 
.center{margin-left:45%;font-family: 'VT323', monospace;} */

.title{
    height:300px;
    display: flex;
    justify-content:center;
    padding:.3%;
    text-align: center;
    text-align: center
}

.scores{
    background-color: green;
    color: black;
    margin-top:2%;
}

td{
    color:green;font-family: 'VT323', monospace;
}
th{
    color:green;
    font-family: 'VT323', monospace;
}

