/* Style sheet for actuall site */
*:focus {
  outline: none !important;
}
/* start of metal styling sheet */
@import url(https://fonts.googleapis.com/css?family=Droid+Sans:regular,bold);
@import url(prefixes.css);

html {
  font:62.5%/1 "Droid Sans", "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
    background-image: url("../images/what-the-hex-dark.png");
    background-size: cover;
    /* background-repeat: repeat-y; */
    background-repeat: repeat;
    z-index: -10;
}

button { border: none; display: block; }
a { text-decoration: none; display: block; }



/* Metal ------------------------- */

.metal {
  position: relative;
  outline: none;
  
  font: bold 6em/2em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  text-align: center;
  color: hsla(0,0%,20%,1);
  text-shadow: hsla(0,0%,40%,.5) 0 -1px 0, hsla(0,0%,100%,.6) 0 2px 1px;
  
  background-color: hsl(0,0%,90%);
  box-shadow: inset hsla(0,0%,15%,  1) 0  0px 0px 4px, /* border */
    inset hsla(0,0%,15%, .8) 0 -1px 5px 4px, /* soft SD */
    inset hsla(0,0%,0%, .25) 0 -1px 0px 7px, /* bottom SD */
    inset hsla(0,0%,100%,.7) 0  2px 1px 7px, /* top HL */
    
    hsla(0,0%, 0%,.15) 0 -5px 6px 4px, /* outer SD */
    hsla(0,0%,100%,.5) 0  5px 6px 4px; /* outer HL */ 
  
  transition: color .2s;
}
.metal.linear {
    background-image: -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
      -webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
      -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),
      
      linear-gradient(180deg, hsl(0,0%,78%)  0%, 
      hsl(0,0%,90%) 47%, 
      hsl(0,0%,78%) 53%,
      hsl(0,0%,70%)100%);
  }

/* start of navbar styling */
.sidenav {
    height: 100%;
    width: 80px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    animation-timing-function: ease;
}

.sidenavB {
    height: 100%;
    width: 80px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    animation-timing-function: ease;
}
.movingNav{
  
  animation: mymove 5s;
}
.movingNavB{
  animation: mymoveB 5s;
}
@keyframes mymove {
  from {left: -100px;}
  to {left: 0px;}
}
@keyframes mymoveB {
  from {right: -100px;}
  to {right: 0px;}
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
/* end of navbar styling.  */
/* start of CCRT tv styling. */
@import "compass/css3";
body {
  background: #111;
  color: white;
  padding-top: 20px;
  padding-left: 20px;
}
body {
    background-color: black;
    background-image: url("../images/what-the-hex-dark.png");
    background-size: cover;
    /* background-repeat: repeat-y; */
    background-repeat: repeat;
    z-index: -10;
}
#switch {
  display: none;
}
.switch-label {
  display: inline-block;
  cursor: pointer;
  background: #fff;
  color: #111;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  margin-top: 10px;
  box-shadow: 0 2px #666;
}
.switch-label::after {
  content: "on";
}
.switch-label::before {
  content: " ";
  display: inline-block;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  background: #003321;
  margin-right: 10px;
  border: 1px solid #111;
}
.switch-label:active {
  box-shadow: none;
  transform: translate3d(0, 2px, 0);
}
#switch:checked + .switch-label::before {
  background: #2f5;
}
#switch:checked + .switch-label::after {
  content: "off";
}
@keyframes flicker {
  0% {
    opacity: 390364056;
  }
  5% {
    opacity: 1987581533;
  }
  10% {
    opacity: 125917543;
  }
  15% {
    opacity: 687289038;
  }
  20% {
    opacity: 234845626;
  }
  25% {
    opacity: 2000057394;
  }
  30% {
    opacity: 469853529;
  }
  35% {
    opacity: 1507810985;
  }
  40% {
    opacity: 1544810957;
  }
  45% {
    opacity: 1302873509;
  }
  50% {
    opacity: 1378104331;
  }
  55% {
    opacity: 1098189883;
  }
  60% {
    opacity: 1972420751;
  }
  65% {
    opacity: 1592208859;
  }
  70% {
    opacity: 170453873;
  }
  75% {
    opacity: 1616438066;
  }
  80% {
    opacity: 1447447222;
  }
  85% {
    opacity: 799655977;
  }
  90% {
    opacity: 1410162242;
  }
  95% {
    opacity: 1539945852;
  }
  100% {
    opacity: 1586596875;
  }
}
.containerCRT {
  background: #121010;
  width: 100%;
  height: auto;
  margin-top: 10px;
  position: relative;
  overflow: hidden;
  border: 2px solid #666;
}
.containerCRT::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
}
.containerCRT::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}
#switch:checked ~ .containerCRT::after {
  animation: flicker 0.15s infinite;
}
@keyframes turn-on {
  0% {
    transform: scale(1, 0.8) translate3d(0, 0, 0);
    -webkit-filter: brightness(30);
    filter: brightness(30);
    opacity: 1;
  }
  3.5% {
    transform: scale(1, 0.8) translate3d(0, 100%, 0);
  }
  3.6% {
    transform: scale(1, 0.8) translate3d(0, -100%, 0);
    opacity: 1;
  }
  9% {
    transform: scale(1.3, 0.6) translate3d(0, 100%, 0);
    -webkit-filter: brightness(30);
    filter: brightness(30);
    opacity: 0;
  }
  11% {
    transform: scale(1, 1) translate3d(0, 0, 0);
    -webkit-filter: contrast(0) brightness(0);
    filter: contrast(0) brightness(0);
    opacity: 0;
  }
  100% {
    transform: scale(1, 1) translate3d(0, 0, 0);
    -webkit-filter: contrast(1) brightness(1.2) saturate(1.3);
    filter: contrast(1) brightness(1.2) saturate(1.3);
    opacity: 1;
  }
}
@keyframes turn-off {
  0% {
    transform: scale(1, 1.3) translate3d(0, 0, 0);
    -webkit-filter: brightness(1);
    filter: brightness(1);
    opacity: 1;
  }
  60% {
    transform: scale(1.3, 0.001) translate3d(0, 0, 0);
    -webkit-filter: brightness(10);
    filter: brightness(10);
  }
  100% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: scale(0, 0.0001) translate3d(0, 0, 0);
    -webkit-filter: brightness(50);
    filter: brightness(50);
  }
}
.screen {
  width: 100%;
  height: 100%;
  border: none;
}
#switch ~ .containerCRT > .screen {
  animation: turn-off 0.55s cubic-bezier(0.23, 1, 0.32, 1);
  animation-fill-mode: forwards;
}
#switch:checked ~ .containerCRT > .screen {
  animation: turn-on 4s linear;
  animation-fill-mode: forwards;
}
@keyframes overlay-anim {
  0% {
    visibility: hidden;
  }
  20% {
    visibility: hidden;
  }
  21% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
.overlay {
  color: #0f0;
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 60px;
  visibility: hidden;
  pointer-events: none;
}
#switch:checked ~ .containerCRT .overlay {
  animation: overlay-anim 5s linear;
  animation-fill-mode: forwards;
}
/* style for arcade buttons */
[class*="push"] {
  position: relative;
  display: inline-block;
  width: 240px;
  height: 240px;
  border: 0;
  margin: 1em;
  outline: none;
  background-color: rgba(194, 41, 10, 1);
  border-radius: 50%;
  cursor: pointer;
  transition: box-shadow 200ms;
}
.push--flat {
  box-shadow: inset 0 7.5px 0 rgba(218, 46, 11, 1), inset 0 -7.5px 0 rgba(170, 36, 9, 1), inset 0 0 0 7.5px rgba(179, 38, 9, 1), inset 0 0 0 20px rgba(194, 41, 10, 1), inset 0 0 0 24px rgba(97, 20, 5, 1), inset 0 0 0 26.08696px rgba(0, 0, 0, 1), inset 0 0 0 32px rgba(247, 133, 110, 0.7), inset 0 0 0 43.63636px rgba(194, 41, 10, 1), inset 0 96px 32px rgba(170, 36, 9, 1), inset 0 0 24px 40px rgba(145, 31, 8, 1), 0 12px 0 rgba(0, 0, 0, .3);
}
.push--flat:after {
  content: '';
  position: absolute;
  bottom: 12px;
  left: 24px;
  display: block;
  width: 192px;
  height: 192px;
  border: 16px solid rgba(0, 0, 0, .3);
  border-width: 0 0 16px;
  border-radius: 50%;
  transition-duration: 200ms;
}
.push--flat:active, .push--flat.is-pushed {
  box-shadow: inset 0 7.5px 0 rgba(218, 46, 11, 1), inset 0 -7.5px 0 rgba(170, 36, 9, 1), inset 0 0 0 7.5px rgba(179, 38, 9, 1), inset 0 0 0 20px rgba(194, 41, 10, 1), inset 0 0 0 24px rgba(97, 20, 5, 1), inset 0 0 0 28.23529px rgba(0, 0, 0, 1), inset 0 0 0 32px rgba(247, 133, 110, 0.2), inset 0 0 0 43.63636px rgba(179, 38, 9, 1), inset 0 96px 32px rgba(155, 33, 8, 1), inset 0 0 24px 40px rgba(121, 26, 6, 1), 0 12px 0 rgba(0, 0, 0, .3);
  background-color: rgba(184, 39, 10, 1);
}
.push--flat:active:after, .push--flat.is-pushed:after {
  bottom: 28px;
  border-width: 0;
}
.push--skeuo {
  box-shadow: inset 0 10px 0 rgba(218, 46, 11, 1), inset 0 -10px 4px rgba(170, 36, 9, 1), 0 0 4px rgba(194, 41, 10, 1), inset 0 0 8px rgba(121, 26, 6, 1), inset 0 0 8px rgba(51, 51, 51, 0.5), inset 0 0 4px 20px rgba(194, 41, 10, 1), inset 0 -8px 6px 24px rgba(51, 51, 51, 0.7), inset 0 0 4px 24px rgba(97, 20, 5, 1), inset 0 0 4px 24px rgba(51, 51, 51, 0.7), inset 0 0 2px 26.08696px rgba(0, 0, 0, 1), inset 0 0 2px 30px rgba(247, 133, 110, 0.7), inset 0 12px 0 28.23529px rgba(244, 71, 37, 0.7), inset 0 -12px 4px 28.23529px rgba(145, 31, 8, 0.2), inset 0 0 0 43.63636px rgba(194, 41, 10, 1), inset 0 96px 32px rgba(170, 36, 9, 1), inset 0 0 24px 40px rgba(145, 31, 8, 1), 0 6px 12px rgba(0, 0, 0, .5);
}
.push--skeuo:active, .push--skeuo.is-pushed {
  box-shadow: inset 0 10px 0 rgba(218, 46, 11, 1), inset 0 -10px 4px rgba(170, 36, 9, 1), 0 0 4px rgba(194, 41, 10, 1), inset 0 0 8px rgba(121, 26, 6, 1), inset 0 0 8px rgba(51, 51, 51, 0.5), inset 0 0 4px 20px rgba(194, 41, 10, 1), inset 0 -8px 6px 24px rgba(51, 51, 51, 0.7), inset 0 0 4px 24px rgba(97, 20, 5, 1), inset 0 0 4px 24px rgba(51, 51, 51, 0.7), inset 0 0 6px 28.23529px rgba(0, 0, 0, 1), inset 0 0 2px 32px rgba(247, 133, 110, 0.2), inset 0 12px 0 28px rgba(244, 71, 37, 0.5), inset 0 -12px 4px 28px rgba(97, 20, 5, 0.2), inset 0 0 0 43.63636px rgba(179, 38, 9, 1), inset 0 96px 32px rgba(155, 33, 8, 1), inset 0 0 24px 40px rgba(121, 26, 6, 1), 0 6px 12px rgba(0, 0, 0, .5);
  background-color: rgba(184, 39, 10, 1);
}
.push--skeuo:active:before, .push--skeuo.is-pushed:before {
  opacity: 0.5;
}
.push--skeuo:before {
  content: '';
  position: absolute;
  bottom: 53.33333px;
  left: 66.66667px;
  display: block;
  width: 109.09091px;
  height: 72.72727px;
  background: rgba(247, 133, 110, 0.2);
  background: linear-gradient(to top, rgba(250, 173, 158, 0.3) 0%, rgba(194, 41, 10, 0.1) 100%);
  border-radius: 40% 40% 60% 60%;
  transition: opacity 200ms;
}
#buttonPadding{
  margin-left: 90px;
  font-size: 20px;
}
#FontColor{
  color: white !important;
}
/* Stylefor Login/signup */

